.container-fluid(style="position: fixed)")
  ul#mainTopMenu.menu(ng-class="{'menuShadow':showMenu}",
  ng-style="{'width': widthMenu }", ng-mouseleave = "closeOnLeaveMouse()")
    li
      a.topMenuOption.menuShadow(href="", ng-click="toogleOptionsMenu()")
        span
          ng-md-icon(icon="{{currentIcon}}", size="22", options = '{"duration": 375}')
        span.titleMenu
          | {{navigation.getCurrentStateTitle()}}
    li.subMenu.fadeMenu(ng-show="showMenu", ng-repeat="section in sections",
    ng-class="{'active' : isSelectedSubSection($index)}")
      a(href="", ng-click="updateCurrentSubSection($index)")
        span.subTitleMenu
          | {{section.name}}
      ul
        li(ng-repeat="item in navigation.getSectionStructure()")
          a(ui-sref="{{navigation.getSectionStructureStates()[$index]}}", ng-click = "selectOption($parent.$index, $index)")
            span.subTitleItemMenu
              | {{item}}
    li
      a.topMenuOption.fadeMenu(ng-show="showMenu", ng-click = "introduction()", ui-sref="main")
        div
          span.footerSubTitleMenu
            | Voet, Voet & Pratt
        div
          span.footerTitleMenu
            | Fundamentals of Biochemistry

//, ng-mouseleave = "hideOptions()"
