
@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/light.eot");
  src: url("../assets/fonts/open-sans/light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/light.woff") format("woff"), url("../assets/fonts/open-sans/light.ttf") format("truetype"), url("../assets/fonts/open-sans/light.svg#open-sans") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/light.eot");
  src: url("../assets/fonts/open-sans/light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/light.woff") format("woff"), url("../assets/fonts/open-sans/light.ttf") format("truetype"), url("../assets/fonts/open-sans/light.svg#open-sans") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/light-italic.eot");
  src: url("../assets/fonts/open-sans/light-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/light-italic.woff") format("woff"), url("../assets/fonts/open-sans/light-italic.ttf") format("truetype"), url("../assets/fonts/open-sans/light-italic.svg#open-sans") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/regular.eot");
  src: url("../assets/fonts/open-sans/regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/regular.woff") format("woff"), url("../assets/fonts/open-sans/regular.ttf") format("truetype"), url("../assets/fonts/open-sans/regular.svg#open-sans") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/regular.eot");
  src: url("../assets/fonts/open-sans/regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/regular.woff") format("woff"), url("../assets/fonts/open-sans/regular.ttf") format("truetype"), url("../assets/fonts/open-sans/regular.svg#open-sans") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/semibold.eot");
  src: url("../assets/fonts/open-sans/semibold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/semibold.woff") format("woff"), url("../assets/fonts/open-sans/semibold.ttf") format("truetype"), url("../assets/fonts/open-sans/semibold.svg#open-sans") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/semibold-italic.eot");
  src: url("../assets/fonts/open-sans/semibold-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/semibold-italic.woff") format("woff"), url("../assets/fonts/open-sans/semibold-italic.ttf") format("truetype"), url("../assets/fonts/open-sans/semibold-italic.svg#open-sans") format("svg");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/bold.eot");
  src: url("../assets/fonts/open-sans/bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/bold.woff") format("woff"), url("../assets/fonts/open-sans/bold.ttf") format("truetype"), url("../assets/fonts/open-sans/bold.svg#open-sans") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/bold-italic.eot");
  src: url("../assets/fonts/open-sans/bold-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/bold-italic.woff") format("woff"), url("../assets/fonts/open-sans/bold-italic.ttf") format("truetype"), url("../assets/fonts/open-sans/bold-italic.svg#open-sans") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/extrabold.eot");
  src: url("../assets/fonts/open-sans/extrabold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/extrabold.woff") format("woff"), url("../assets/fonts/open-sans/extrabold.ttf") format("truetype"), url("../assets/fonts/open-sans/extrabold.svg#open-sans") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: open-sans;
  src: url("../assets/fonts/open-sans/extrabold-italic.eot");
  src: url("../assets/fonts/open-sans/extrabold-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans/extrabold-italic.woff") format("woff"), url("../assets/fonts/open-sans/extrabold-italic.ttf") format("truetype"), url("../assets/fonts/open-sans/extrabold-italic.svg#open-sans") format("svg");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: open-sans-condensed;
  src: url("../assets/fonts/open-sans-condensed/light.eot");
  src: url("../assets/fonts/open-sans-condensed/light.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-condensed/light.woff") format("woff"), url("../assets/fonts/open-sans-condensed/light.ttf") format("truetype"), url("../assets/fonts/open-sans-condensed/light.svg#open-sans-condensed") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: open-sans-condensed;
  src: url("../assets/fonts/open-sans-condensed/light-italic.eot");
  src: url("../assets/fonts/open-sans-condensed/light-italic.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-condensed/light-italic.woff") format("woff"), url("../assets/fonts/open-sans-condensed/light-italic.ttf") format("truetype"), url("../assets/fonts/open-sans-condensed/light-italic.svg#open-sans-condensed") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: open-sans-condensed;
  src: url("../assets/fonts/open-sans-condensed/bold.eot");
  src: url("../assets/fonts/open-sans-condensed/bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/open-sans-condensed/bold.woff") format("woff"), url("../assets/fonts/open-sans-condensed/bold.ttf") format("truetype"), url("../assets/fonts/open-sans-condensed/bold.svg#open-sans-condensed") format("svg");
  font-weight: bold;
  font-style: normal;
}

//Remember, delete font from default theme video

@font-face {
  font-family: 'videogular';
  src: url("../assets/fonts/videogular.eot");
  src: url("../assets/fonts/videogular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/videogular.woff") format("woff"), url("../assets/fonts/videogular.ttf") format("truetype"), url("../assets/fonts/videogular.svg#videogular") format("svg");
  font-weight: normal;
  font-style: normal;
}

//////////////////////////////////////////////

body {
  font-family: 'open-sans', sans-serif;
  position relative;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'open-sans-condensed', sans-serif;
}

$bg-green = #009688
$bg-blue = #3949ab

.bg-green
  background-color $bg-green

.bg-blue
  background-color $bg-blue

.bg-dark
  background-color #222

//.mainContent
//  margin-top 10%
//
//.mainContent-sm
//  margin-top 50px
//
//.mainContentAnimation-sm
//  margin-top 90px


/* Have to set height explicity on ui-view
to prevent collapsing during animation*/
.ui-view-container {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
}

[ui-view]
  position relative
  height 100%

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

#content {
  height: -moz-calc(100% - 110px); /* Firefox */
  height: -webkit-calc(100% - 110px); /* Chrome, Safari */
  height: calc(100% - 110px); /* IE9+ and future browsers */
  background-color: yellow
}


//@media (min-width: 1200px) {
//  .videogular-container {
//    width: 1170px;
//    height: 528.75px;
//  }
//}
//
//@media (min-width: 992px) and (max-width: 1199px) {
//  .videogular-container {
//    width: 940px;
//    height: 528.75px;
//  }
//}
//
//@media (min-width: 768px) and (max-width: 991px) {
//  .videogular-container {
//    width: 728px;
//    height: 409.5px;
//  }
//}
