.content
  #practice_session
    img#loading(src="components/images/ajax-loader.gif")
    #nextButton.labels Next
    #retryButton.labels Retry
    #instructions.labels
    #message.labels
    #multiple_choice
    #drag.labels
  #navigation_instructions
