.goals
  padding-bottom 20px

.objectives-container {
  position: relative;
  height: 65px;
}


.whiteframe
  max-width 350px
  width 80%
  background #fff
  margin 20px
  padding 20px

.fill-95
  width 95%

.content-frame
  padding-bottom 16px

.titleGoals
  margin-top 0px
  font-weight bold

.margin-sm
  margin-top: 100px;
  margin-bottom: 125px;

.objective-button-arrow
  font-size smaller

.objective-button a {
  border-collapse: separate;
  font-size: large;
  font-weight bold
  display: table;
  padding: 10px;
  margin-top 10px
  width: 100%;
  height inherit
  background-color: #222;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  color: #fff;
  overflow: hidden;
  -webkit-transition-property: background;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-property: background;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}


/* when showing the picture */
.fadeFrame {
  animation: 0.5s fadeInUp ease;
}


.coverFadeInLeft {
  animation: 0.5s slideInLeft ease;
}
