.mainTitle h1
  font-weight 900
  font-size 66px

.mainTitle h2
  font-weight 600

.mainTitleSm h1
  font-weight 900
  font-size 40px

.mainTitleSm h2
  font-weight 600
  font-size 20px

.center-cover
  width 100%
  height 100%

