.container
  #footer.navbar.navbar-inverse.navbar-fixed-bottom
    div(layout="row")
      div(flex="")
        a.btn.navbar-btn.pn-footer-button(ng-show='!!navigation.getPrevious().title',
        ng-click = 'navigation.goPrevious()')
          span.glyphicon.glyphicon-triangle-left(aria-hidden='true')
          | &nbsp {{navigation.getPrevious().title}}
      div(flex="", hide-sm="", layout = "row", layout-align="center center")
        a.btn.navbar-btn.pn-footer-button.footerCenterTitle()
          |  {{navigation.getCurrentTitle()}}
      div(flex="", layout="row", layout-align="end center")
        a.btn.navbar-btn.pn-footer-button(ng-show='!!navigation.getNext().title',
        ng-click = 'navigation.goNext()')
          | {{navigation.getNext().title}} &nbsp;
          span.glyphicon.glyphicon-triangle-right(aria-hidden='true')
    div(layout="row")
      div(flex="", hide-gt-sm="", layout = "row", layout-align="center center")
        a.btn.navbar-btn.pn-footer-button.footerCenterTitle()
          |  {{navigation.getCurrentTitle()}}
