$mouseHover = #337ab7

.pn-footer-button
  background-color #222
  color white
  &:hover
    color $mouseHover
  &:visited
    color white
  &:link
    color white
  &:focus
    color white

.footerCenterTitle {
  font-size 18px
}
